.pannel {
	border: 3px solid dodgerblue;
	background: lightgreen;
	margin: 10px;
}
.pannel:hover {
	cursor: pointer;
	transform: scale(.9);
}

.little-pannel {
	@extend .pannel;
	font-size: 12px;
	padding: 5px;
}

.big-pannel {
	@extend .pannel;
	font-size: 22px;
	padding: 15px;
}
