$btnBackground : #006699;
$btnColor: white;
$btnPadding: 5px;


.button {
	background: $btnBackground;
	color: $btnColor;
	padding: $btnPadding;
	display: inline-block;
	text-decoration: none;
	border-radius: 8px;

}
.jumbo-button {
	@extend .button;
	padding: $btnPadding + 30;
}
.light-button {
	@extend .button;
	padding: $btnPadding - 5;
	background: $btnBackground*1.5;
}
.light-button:hover {
	background: #16A885;
}